################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/
/DHWifiClientSol/lib/DHWifiClient.NET/bin
/DHWifiClientSol/lib/DHWifiClient.NET/obj
/DHWifiClientSol/output
/DHWifiClientSol/sample/DHWifiClientSample/obj
/DHWifiClientSol/sample/DHWifiClient2Sample/obj
/DHWifiClientSol/sample/DHWifiClient2ConsoleSample/obj
/DHWifiClientSol/test/DHWifiClient.NET.Tests/bin
/DHWifiClientSol/test/DHWifiClient.NET.Tests/obj
/artifacts
/.keys/
*.csproj.user
