################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DHWifiClientSol/.vs/DHWifiClientSol
/DHWifiClientSol/lib/DHWifiClient.NET/bin
/DHWifiClientSol/lib/DHWifiClient.NET/obj
/DHWifiClientSol/output
/DHWifiClientSol/sample/DHWifiClientSample/obj
/DHWifiClientSol/test/DHWifiClient.NET.Tests/bin
/DHWifiClientSol/test/DHWifiClient.NET.Tests/obj
